.vertical {
  display: flex !important;
  flex-direction: column !important;
}

.horizontal {
  display: flex !important;
  flex-direction: row !important;
  place-content: space-around;
}

.english {
  align-items: flex-start;
}

.hebrew {
  align-items: flex-end;
}
