.vertical {
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
}

.horizontal {
  display: flex !important;
  flex-direction: row !important;
  place-content: space-around;
}
