.create_question_container {
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.questions_container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.list_builder_list_item {
  width: fit-content;
}

.MuiFormControlLabel-label {
  display: contents;
}

.css-j204z7-MuiFormControlLabel-root {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.questions_list {
  flex: 1;
}

.MuiAccordionSummary-content {
  justify-content: space-between;
}

.question_constants {
  display: flex;
  place-content: space-between;
}
